<div class="wrapper">
  <header class="w-12">
    <app-header></app-header>
  </header>
  <main class="flex justify-content-center align-content-center">
    <div class="text-200 font-bold m-0 text-left max-w-21rem p-2 text-lg">
      <h1>I'm Luis Felipe</h1>
      <p>
        💻 Sou um desenvolvedor apaixonado por tecnologia e inovação! Com 21
        anos, sou formado em Análise e Desenvolvimento de Sistemas pela UNIP e
        atuo como Trainee Full Stack.
      </p>
      <p>
        🚀 Minha jornada profissional é focada no desenvolvimento de software,
        explorando tanto o back-end quanto o front-end. Busco constantemente
        aprimorar minhas habilidades e aprender novas tecnologias para entregar
        soluções eficientes e de alto impacto.
      </p>
      <p>
        📈 Estou sempre em busca de desafios que me permitam crescer
        profissionalmente e contribuir para projetos inovadores.
      </p>
    </div>
  </main>
</div>
