.wrapper {
    
    min-height: 100vh;
  
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 1) 33%,
      rgba(70, 63, 98, 1) 60%,
      rgba(226, 226, 226, 1) 100%
    );
  
    .content {
      margin: 0 auto;
      max-width: 350px;
      text-align: center;
      padding: 45px 16px 32px;
  
    }
  
  }