<div class="wrapper">
  <header class="w-12">
    <app-header></app-header>
  </header>
  <main class="content">
    <div class="userInfo">
      <img
        class="w-2.5 h-6rem border-circle"
        src="https://media.licdn.com/dms/image/v2/D4D03AQFFFW4DHgqlmA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1727885316648?e=1743638400&v=beta&t=NLOzHotevojoei8NRVW92FG4nB_NIVRNQ6v-_uPKahw"
        alt="Luis Felipe"
      />
      <div class="text-200 font-bold">
        <h1>I'm Luis Felipe</h1>
        <p>Conecte-se comigo e descubra meus projetos! 🚀</p>
      </div>
    </div>
    <app-links></app-links>
  </main>
  <footer class="text-xs p-3">Desenvolvido por Luis Felipe</footer>
</div>
